<h1><%= @machine.location %> Vending Machine</h1>

Snacks:<br>
<% @machine.snacks.each do |snack| %>
  <%= snack.name %>
  $<%= snack.price %><br>
<% end %>


Average Price: <%= @machine.average_price %>
